<script src="bower_components/Requirejs/require.js"></script>
<script>

  require([
    './Log',
    './Setter',
    './error/AbstractError',
    './error/DevError'
  ], function(Log, Setter, AbstractError, DevError) {
    Log.info('Logger started.');

    Log.time('test');
    setTimeout(function() {
      Log.timeEnd('test');
    }, 100);

    Log.time('test2', 'info');
    setTimeout(function() {
      Log.timeEnd('test2');
    }, 200);

    // TODO(aramk) Use a proper DOH test runner.
    var a = {a: 123, b: 456};
    var b = Setter.clone(a);
    b.b = 789;
    Log.info(a, b);

//    try {
//      throw new AbstractError('Some message', 1, 2, 3);
//    } catch(e) {
//      e.logStack();
//    }

//    try {
    throw new DevError('Some message', 1, 2, 3);
//    } catch(e) {
//      e.logStack();
//    }

  });

</script>
